/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background-color:#280203;
	width:100%;
}

.site-top-menu {
	background-color:#fff;
}


/* Homepage Branding */
.lego-logo {
	margin:0 auto;
	max-width:1369px;
}

.lego-logo img {
	position:relative;
	z-index:1000;
	margin:20px 0 -20px 10px;
}


.homepage-footer{}


/* Smartphones (portrait and landscape) col-xs
	 ----------- */
@media only screen and (min-width : 320px) {
	#legoHeader {
		max-width:320px;
		background-size:cover;
		height:110px;
		background:url(../img/lego-header-bg.png) no-repeat top right;
		margin:0 auto;
		overflow:hidden;
	}
	
	#legoHeader .lego-ninjago-logo {
		float:left;
		margin-left:10px;
	}
	
	.homepage-middle {
		/* border: 2px solid white; */
	}
	
	.homepage-middle-but {
		max-width:320px;
	}
	
	/*
	.top-slider {max-width:320px;}
	*/
	
	.carousel img {
	/* border: 2px solid green; */
		max-width:100%;
		height:auto;
	}
	
	.carousel {
		max-width:320px;
		margin:0 auto;
	}
	
	/* 	#menu {display: none;} */
	/*   
	    #menu img {
		    margin-top:164px;
		}
	        
	    .top {
			max-width:1369px;
			height: 212px;
			background-size:cover;
			background-image:url("../img/museum-top-bg.png");
			margin: 0 auto;
		}
	*/
	
}

/* Tablets (Portrait) col-sm 
	-----------  */
@media only screen and (min-width : 767px) {
	.lego-logo img {
		position:relative;
		z-index:1000;
		margin:20px 0 -20px 10%;
	}
	
	#legoHeader {
		max-width:640px;
		background-size:cover;
		height:149px;
		background:url(../img/lego-header-bg.png) no-repeat top right;
		margin:0 auto;
		overflow:hidden;
	}
	
	#legoHeader .lego-ninjago-logo {
		float:right;
		margin-right:-90px;
	}
	
	#homepage-top-head {
		background-color:#fff;
		height:52px;
		max-width:640px;
		margin:0 auto;
	}
	
	.homepage-middle {
		max-width:640px;
	}
	
	.homepage-middle-but {
		max-width:100%;
		height:auto;
	}
	
	.carousel img {
		max-width:100%;
		height:auto;
	}
	
	.carousel {
		max-width:640px;
		margin:0 auto;
	}
}

/* Desktop (any orientation) And Tablets (Landscape)  col-md
	----------- */
@media only screen and (min-width : 991px) {
	.lego-logo img {
		position:relative;
		z-index:1000;
		margin:20px 0 -20px 10%;
	}
	
	#legoHeader {
		max-width:991px;
		background-size:cover;
		height:149px;
		background:url(../img/lego-header-bg.png) no-repeat top right;
		margin:0 auto;
	}

	#menuHolder {
		max-width:991px;
		margin: -47px auto 0 auto;
	}
	
	#legoHeader .lego-ninjago-logo {
		float:right;
		margin-right:100px;
	}
	
	#homepage-top-head {
		background-color:#fff;
		height:52px;
		max-width:991px;
		margin:0 auto;
	}
	
	.homepage-middle {
		max-width:991px;
	}
	
	.homepage-middle-but {
		max-width:247px;
	}
	
	.carousel img {
	}
	
	.carousel {
		max-width:991px;
		margin:0 auto;
	}
}

/* Desktop (any orientation) And Tablets (Landscape)  col-lf
----------- */
@media only screen and (min-width : 1200px) {
	#legoHeader {
		max-width:1369px;
		background-size:cover;
		height:149px;
		background:url(../img/lego-header-bg.png) no-repeat top right;
		margin:0 auto;
	}
	

	#menuHolder {
		max-width:1369px; 
		margin: -47px auto 0 auto;
	}
	
	
	#legoHeader .lego-ninjago-logo {
		float:right;
		margin-right:136px;
	}
	
	#homepage-top-head {
		background-color:#fff;
		height:52px;
		max-width:1369px;
		margin:0 auto;
	}
	
	.homepage-middle {
		max-width:1369px;
	}
	
	.homepage-middle-but {
		max-width:342px;
	}
	
	.carousel img {
	}
	
	.carousel {
		max-width:1369px;
		margin:0 auto;
	}
}