/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	background-color: #280203; 
	width:100%;
}


/* Smartphones (portrait and landscape) col-xs
	 ----------- */
@media only screen and (min-width : 320px) {
	
	#homepage-top-head {
		background-color: #fff; 
		height: 52px;
		max-width:320px;
		margin: 0 auto:
	}
	
    .middle {/* border: 2px solid white; */}
    .middle-but {max-width:320px; }
/*
    .top-slider {max-width:320px;}
   
*/
    .carousel img {
/* 		border: 2px solid green; */
		max-width: 100%;
		height: auto;
		
    }
    .carousel {
		max-width:320px;
	    margin: 0 auto;
    }



	/* 	#menu {display: none;} */
	/*   
    #menu img {
	    margin-top:164px;
	}
        
    .top {
		max-width:1369px;
		height: 212px;
		background-size:cover;
		background-image:url("../img/museum-top-bg.png");
		margin: 0 auto;
	}
	*/
    
}
 
/* Tablets (Portrait) col-sm 
	-----------  */
@media only screen and (min-width : 767px) {
   	
	#homepage-top-head {
		background-color: #fff; 
		height: 52px;
		max-width:640px;
		margin: 0 auto:
	}

    .middle {
	/* border: 2px solid yellow; */ 
	    max-width:640px;
	}
    .middle-but {
	    max-width:100%;
	    height:auto;
	}

    
	/*#menu {display: block;} */
    
	 /*  .top-slider {max-width:767px;} */
    
    .carousel img {
	/* border: 2px solid purple; */
		max-width: 100%;
		height: auto;
		
    }
    .carousel {
		max-width:640px;
	    margin: 0 auto;

    }   
}
 
/* Desktop (any orientation) And Tablets (Landscape)  col-md
	----------- */
@media only screen and (min-width : 991px) {
   
    #homepage-top-head {
		background-color: #fff; 
		height: 52px;
		max-width:991px;
		margin: 0 auto:
	}
    
    
   .middle {
   		/*border: 2px solid blue;  */
	   max-width:991px;
	}
    .middle-but {max-width:247px; }
		/*.top-slider {max-width:991px;} */
    
    .carousel img {
		/* border: 2px solid green; */
    }
    .carousel {
	     max-width:991px;
	     margin: 0 auto;
    }
    
	/*
    #menu {display:block;}
    #menu img {
	    margin-top:172px;  
	    max-width:991px;
	}

    .top {
		max-width:991px;
		height: 212px;
		background-size:cover;
		background-image:url("../img/museum-top-bg.png");
		margin: 0 auto;
	}
	*/
}

/* Desktop (any orientation) And Tablets (Landscape)  col-lf
----------- */
@media only screen and (min-width : 1200px) {
	
	#homepage-top-head {
		background-color: #fff; 
		height: 52px;
		max-width:1369px;
		margin: 0 auto:
	}

    .middle {
	    /* border: 2px solid red;  */
	    max-width:1369px;
	}
    
    .middle-but {max-width:342px; }
	
	/*.top-slider {max-width:1369px;} */
    
    .carousel img {
		/*border: 2px solid orange; */
    }
    
    .carousel {
	     max-width:1369px;
	     margin: 0 auto;
    }
    
	/*
    #menu {display: block; }
    #menu img {margin-top:164px;}
    
    .top {
		max-width:1369px;
		height: 212px;
		background-size:cover;
		background-image:url("../img/museum-top-bg.png");
		margin: 0 auto;
	}
	*/
    
}










